<nav>
	{% if include.navclass == 'nav-top' %}
	<div class="hamburger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
	{% endif %}
	
	<ul class="clearfix {{include.navclass}}">
	<!-- <ul class="open nav-top"> -->
		<li><a href="{{site.baseurl}}/index.html" >Home</a></li>
    <li><a href="{{site.baseurl}}/posts.html">Posts</a></li>
		<li><a href="{{site.baseurl}}/projects.html">Projects</a></li>
		<li><a href="https://github.com/eddrichjanzzen" target="_blank">GitHub</a></li>
		<li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
	</ul>
</nav>


<!-- https://www.youtube.com/watch?v=6m6iqN1uynE -->
