/*
Badge
*/

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

.badge:hover, .badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-secondary {
  color: #C0392B;
  background-color: #F2D7D5;
  padding: 0.5em 0.8em;
  margin: 0.3em;
}

.badge-medium {
  font-size: 1em;
} 

.badge-large {
  font-size: 2em;
} 

.badge-secondary:hover, .badge-secondary:focus {
  color: #fff;
  background-color: #A8A8A8;
}

.badge-secondary:focus, .badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

